.cover__link {
  margin: auto;
  display: flex;
  height: 740px;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-decoration: none;
  color: #FFFFFF;
}


@media screen and (min-width: 896px) and (max-width: 1152px) {
	.cover__link {
		height: 640px;
	}
}

@media screen and (min-width: 543px) and (max-width: 895px) {
	.cover__link {
		height: 480px;
	}
}

@media screen and (max-width: 542px) {
	.cover__link {
		height: 200px;
	}
}