.cover__link {
	min-height: 100%;
	/* изменяем на display flex, чтобы растянуть высоту строкового элемента */
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #FFFFFF;
	text-decoration: none;
	background-color: rgba(42, 44, 47, .3);
	transition: .2s;
	cursor: pointer;
}

.cover__link:hover {
	background-color: rgba(42, 44, 47, .8);
	transition: .2s;
}