.cover__link {
	/* изменяем на display flex, чтобы растянуть высоту строкового элемента */
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: inherit;
	color: #FFFFFF;
	text-decoration: none;
	background-color: rgba(42, 44, 47, .3);
	/*backdrop-filter: drop-shadow;*/
	transition: .2s;
	cursor: pointer;
}

.cover__link:hover {
	background-color: rgba(42, 44, 47, .7);
	/*backdrop-filter: brightness(.4);*/
	transition: .2s;
}