.photo-grid {
	margin: 0 auto;
	max-width: 1184px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 16px;
	justify-items: center;
	box-sizing: border-box;
}

@media screen and (min-width: 929px) and (max-width: 1183px) {
	.photo-grid {
		max-width: calc(100% - 2*48px);
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 14px;
	}
}

@media screen and (min-width: 641px) and (max-width: 928px) {
	.photo-grid {
		max-width: calc(100% - 2*24px);
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 16px;
	}
}

@media screen and (max-width: 640px) {
	.photo-grid {
		max-width: calc(100% - 2*16px);
		grid-template-columns: minmax(288px, 352px);
		grid-row-gap: 12px;
	}
}

@media screen and (min-width: 386px) and (max-width: 640px) {
	.photo-grid {
		margin-left: calc((100% - 352px)/2);
	}
}

@media screen and (max-width: 385px) {
	.photo-grid {
		margin-left: calc((100% - 288px)/2);
	}
}