.places {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 984px;
	max-height: 3386px;
	padding-top: 82px;
}

@media screen and (min-width: 896px) and (max-width: 1152px) {
	.places {
		margin: 0 auto;
		max-width: 928px;
		max-height: 3292px;
		padding-top: 92px;
	}
}

@media screen and (min-width: 543px) and (max-width: 895px) {
	.places {
		margin: 0 auto;
		max-width: 720px;
		max-height: 2808px;
		padding-top: 88px;
	}
}

@media screen and (max-width: 542px) {
	.places {
		margin: 0 auto;
		max-width: 320px;
		max-height: 5177px;
		padding-top: 64px;
	}
}