.places {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 984px;
	}

@media screen and (min-width: 929px) and (max-width: 1152px) {
	.places {
		max-width: calc(100% - 2*48px);
	}
}

@media screen and (min-width: 641px) and (max-width: 928px) {
	.places {
		max-width: calc(100% - 2*24px);
	}
}

@media screen and (max-width: 640px) {
	.places {
		max-width: 100%;
	}
}