.intro__list {
	margin: 0;
	margin-top: 33px;
	padding: 0;
	width: max-content;
	list-style-type: none;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.5;
}

@media screen and (min-width: 543px) and (max-width: 1000px) {
	.intro__list {
		margin-left: 24px;
	}
}

@media screen and (max-width: 542px) {
	.intro__list {
		margin-left: 16px;
	}
}