.lead {
	margin: 0 auto;
	width: 984px;
	padding-top: 56px;
}

@media screen and (max-width: 1152px) {
	.lead {
		padding-top: 48px;
	}
}

@media screen and (min-width: 929px) and (max-width: 1152px) {
	.lead {
		width: 928px;
	}
}

@media screen and (max-width: 928px) {
	.lead {
		width: 100%;
	}
}