.footer__link {
	margin: 0;
	max-width: 106px;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	padding-right: 18px;
	text-decoration: none;
	color: #FFFFFF;
}

.footer__link:hover {
	cursor: pointer;
	opacity: .8;
}

@media screen and (max-width: 742px) {
	.footer__link {
		max-width: 158px;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 742px) {
	.footer__link:last-of-type {
		margin-bottom: 0;
	}
}