.footer__link {
	margin: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	text-decoration: none;
	color: #FFFFFF;
	cursor: pointer;
}

.footer__link:hover {
	opacity: .6;
}

@media screen and (max-width: 541px) {
	.footer__link {
		font-size: 24px;
		line-height: 1;
	}
}