.lead__title {
	margin: 0 auto;
	max-width: 720px;
	font-style: normal;
	font-weight: 900;
	font-size: 96px;
	line-height: 1.04;
	text-align: center;
	text-shadow: 1px 1px 46px rgba(200, 210, 218, 0.5);
}

@media screen and  (max-width: 721px) {
	.lead__title {
		max-width: calc(100% - 2*16px);
		font-size: 40px;
	}
}