.footer__links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	gap: 18px;
}

@media screen and (min-width: 542px) and (max-width: 741px) {
	.footer__links{
		justify-content: flex-end;
	}
}

@media screen and (max-width: 541px) {
	.footer__links {
		flex-direction: column;
		gap: 32px;
	}
}