.footer__links {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style-type: none;
}

@media screen and (max-width: 741px) {
	.footer__links {
		margin-bottom: 48px;
	}
}

@media screen and (max-width: 542px) {
	.footer__links {
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
}