.place__paragraph {
	margin: 0 auto;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.63;
	margin-bottom: 26px;
}

.place__paragraph:last-of-type {
	margin-bottom: 0;
}

@media screen and (max-width: 896px) {
	.place__paragraph {
		font-size: 16px;
	}
}

@media screen and (max-width: 352px) {
	.place__paragraph {
		max-width: calc(100% - 2*16px);
	}
}