.intro {
	margin: 0 auto;
	padding-top: 92px;
	/* максимальная ширина предыдущей секции */
	max-width: 984px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

}

@media screen and (min-width: 929px) and (max-width: 1023px) {
	.intro {
		max-width: 928px;
	}
}

@media screen and (min-width: 322px) and (max-width: 928px) {
	.intro {
		padding-top: 88px;
		max-width: 768px;
	}
}

@media screen and (max-width: 321px) {
	.intro {
		padding-top: 64px;
		max-width: 320px;
	}
}