.intro {
	margin: 0 auto;
	/* максимальная ширина предыдущей секции */
	width: 984px;
}

@media screen and (min-width: 929px) and (max-width: 1152px) {
	.intro {
		width: 928px;
	}
}

@media screen and (max-width: 928px) {
	.intro {
		width: 100%;
	}
}