.cover {
	margin: 0 auto;
	max-width: 1184px;
	margin-top: 92px;
}

@media screen and (max-width: 1152px) {
	.cover {
		max-width: 100%;
	}
}

@media screen and (min-width: 543px) and (max-width: 895px) {
	.cover {
		margin-top: 90px;
	}
}

@media screen and (max-width: 542px) {
	.cover {
		margin-top: 66px;
	}
}