.lead__caption {
	margin: 0;
	max-width: 160px;
	max-height: 14px;
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 1.4;
	letter-spacing: 0.15em;
	text-transform: uppercase;
}

