.place {
	margin: 0 auto;
	display: grid;
	width: 100%;
	grid-template-columns: 460px 1fr;
	grid-row-gap: 48px;
	grid-column-gap: 40px;
}

@media screen and (min-width: 929px) and (max-width: 1152px) {
	.place {
		grid-template-columns: 440px 1fr;
		grid-column-gap: 32px;
	}
}

@media screen and (min-width: 641px) and (max-width: 928px) {
	.place {
		grid-template-columns: 340px 1fr;
		grid-column-gap: 28px;
	}
}

@media screen and (max-width: 640px) {
	.place {
		grid-template-columns: minmax(320px, 460px);
		grid-row-gap: 32px;
	}
}