.intro__title {
	margin: 0;
	max-width: 690px;
	font-style: normal;
	font-weight: 900;
	font-size: 54px;
	line-height: 1.07;
	text-shadow: 1px 1px 46px rgba(200, 210, 218, 0.5);
	
}

@media screen and (min-width: 543px) and (max-width: 1000px) {
	.intro__title {
		margin-left: 24px;
	}
}

@media screen and (max-width: 542px) {
	.intro__title {
		margin-left: 16px;
		font-size: 32px;
		line-height: 1.09;
	}
}